<table class="small floraTable">
    <thead>
        <tr>
            <th colspan="2" width="50%">
                <i class="fa fa-home"></i>
            </th>
            <th width="25%">
                <i class="fa fa-tint"></i>
            </th>
            <th width="25%">
                <i class="fa fa-seedling"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for sensor in sensorData %}
            {% set values = sensor.sensorValues %}
            <tr>
                <td>{{ sensor.name }}</td>
                <td>
                    {% set battery = sensor.firmwareInfo.battery %}

                    {% if battery <= 5 %}
                        <i class="fa fa-battery-empty"></i>
                    {% elif battery <= 20 %}
                        <i class="fa fa-battery-quarter"></i>
                    {% endif %}
                </td>
                <td>
                    <div>{{ values.moisture }}%</div>
                    <input type="range" class="range" 
                        name="moisture" 
                        min="{{ values.moistureMin }}" 
                        max="{{ values.moistureMax }}" 
                        value="{{ values.moisture }}"
                        />
                    </td>
                    <td>
                        <div>{{ values.fertility }}</div>
                        <input type="range" class="range" 
                            name="moisture" 
                            min="{{ values.moistureMin }}" 
                            max="{{ values.moistureMax }}" 
                            value="{{ values.moisture }}"
                            />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>